<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Understanding Drivers</h1>
            <hr>
            <p>Join the mailerlist to stay up to date and receive first details of product launch!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Join Mailer List</a>
        </div>
        <!-- form action="https://formsubmit.co/6b06a0ccc08e2672e6772cdf6e834e3e" method="POST">
             <input type="text" name="name" required>
             <input type="email" name="email" required>
             <button type="submit">Send</button>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Take Survey</button></div>
        </form>
    </div>
</header>
