<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Understanding Drivers' Experiences Through A Survey </h1> <!-- Your Favorite Source of Understanding Drivers-->
            <hr>
            <p>Join the mailerlist to stay up to date! <!-- and receive first details of product launch!--></p>
            <a href="https://forms.gle/3zq37zf24gpu8zuFA" class="btn btn-primary btn-xl page-scroll">Join Mailer List</a>
            <hr>
            <a href="https://www.tinyurl.com/truckersurvey1" class="btn btn-primary btn-xl page-scroll">Take Survey</a>
        </div>
        <!--form action="www.tinyurl.com/truckersurvey1" method="POST"> <!-- https://formsubmit.co/6b06a0ccc08e2672e6772cdf6e834e3e-->
             <!--input type="text" name="name" required>
             <input type="email" name="email" required>
             <button type="submit">Send</button>
            <Submit Button>
            <div class="text-center"><button type="submit" class="btn btn-primary btn-xl text-uppercase" formaction="www.tinyurl.com/truckersurvey1">Take Survey</button></div> <!-- id="submitButton" type="submit">
        </form-->
    </div>
</header>
